<div class="data-container">
  <form [formGroup]="loginForm" >

    <div class="form-group">
      <div>
          <input formControlName="email" type="text" class="form-control" placeholder="Email">
      </div>
      <div >
          <input formControlName="password" type="password" class="form-control" placeholder="Hasło">
      </div>
    </div>

    <div class="row top">
      <div class="col-sm-12">
        <button (click)="login()" [disabled]="loginForm.invalid" type="submit" class="btn btn text-white ">Zaloguj</button>
      </div>
    </div>
  </form>
</div>
