.data-container {
  padding: 15px;
  margin: 15px;
  margin-left: 800px;
  margin-right: 800px;
}
.top button {
  background-color: #009688;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
