
<div class="logo">
    <img src="../../../assets/images/avatar.png">
    <p>Witaj w panelu Kierownika!</p>
  </div>

  <ul class="sidenav__list">
    <mat-divider></mat-divider>
    <li [routerLink]="['employee']" [routerLinkActive]="'active'">
      <a>
        <i class="fa fa-user"></i> Przeglądaj pracowników
      </a>
    </li>
    <li [routerLink]="['add']" [routerLinkActive]="'active'">
      <a>
        <i class="fa fa-plus"></i> Zatrudnij pracownika
      </a>
    </li>
    <li [routerLink]="['delete']" [routerLinkActive]="'active'">
      <a>
        <i class="fa fa-minus"></i> Zwolnij pracownika
      </a>
    </li>
    <mat-divider></mat-divider>
    <li [routerLink]="['settings']" [routerLinkActive]="'active'">
      <a>
        <i class="fa fa-cog"></i> Moje konto
      </a>
    </li>
  </ul>

