<div class="data-container">
  <form [formGroup]="registerForm">
    <div class="form-group">
      <div >
        <label>Email</label>
        <input formControlName="email" type="text" class="form-control" placeholder="email">
      </div>
      <div >
        <label>Hasło</label>
        <input formControlName="password" type="text" class="form-control" placeholder="password">
      </div>
      <div >
        <label>Imie</label>
        <input formControlName="firstName" type="text" class="form-control" placeholder="name">
      </div>
      <div >
        <label>Nazwisko</label>
        <input formControlName="lastName" type="text" class="form-control" placeholder="surname">
      </div>
      <div >
        <label>Pesel</label>
        <input formControlName="pesel" type="text" class="form-control" placeholder="pesel">
      </div>
      <div >
        <label>Adres</label>
        <input formControlName="address" type="text" class="form-control" placeholder="adress">
      </div>
      <div >
        <label>Kod pocztowy</label>
        <input formControlName="postcode" type="text" class="form-control" placeholder="post-code">
      </div>
      <div >
        <label>Miasto</label>
        <input formControlName="town" type="text" class="form-control" placeholder="town">
      </div>
      <div >
        <label>Telefon</label>
        <input formControlName="telephone" type="text" class="form-control" placeholder="telephone">
      </div>
    </div>

    <div class="row top">
      <div class="col-sm-12">
        <button type="submit" class="btn btn text-white ">Zarejestruj</button>
      </div>
    </div>

  </form>

    <pre> {{registerForm.value | json}}</pre>

</div>
