.data-container {
  padding: 15px;
  margin: 15px;
  margin-left: 500px;
  margin-right: 500px;
}

.top button {
  background-color: #009688;
  display: block;
  margin-left: auto;
  margin-right: auto;
}


.error {
  background: black;
  color: white;
  font-size: 11px;
  padding: 4px 8px;
}
