<div class="data-container">
  <form [formGroup]="registerForm">
    <div class="form-group">
      <div >
        <input formControlName="email" type="text" class="form-control" placeholder="Email">
        <p *ngIf="!registerForm.get('email').valid && registerForm.get('email').dirty" class="error">
          This field is required and you must provide valid email address
        </p>
      </div>
      <div >
        <input formControlName="password" type="text" class="form-control" placeholder="Hasło">
        <p *ngIf="!registerForm.get('password').valid && registerForm.get('password').dirty" class="error">
          This field is required and must contain 6-20 characters
        </p>
      </div>
      <div >
        <input formControlName="firstName" type="text" class="form-control" placeholder="Imię">
        <p *ngIf="!registerForm.get('firstName').valid && registerForm.get('firstName').dirty" class="error">
          This field is required and must contain 2-20 characters
        </p>
      </div>
      <div >
        <input formControlName="lastName" type="text" class="form-control" placeholder="Nazwisko">
        <p *ngIf="!registerForm.get('lastName').valid && registerForm.get('lastName').dirty" class="error">
          This field is required and must contain 2-20 characters
        </p>
      </div>
      <div >
        <input formControlName="pesel" type="text" class="form-control" placeholder="Pesel">
        <p *ngIf="!registerForm.get('pesel').valid && registerForm.get('pesel').dirty" class="error">
          This field is required and must contain 11 characters
        </p>
      </div>
      <div >
        <input formControlName="address" type="text" class="form-control" placeholder="Adres">
        <p *ngIf="!registerForm.get('address').valid && registerForm.get('address').dirty" class="error">
          This field is required and must contain 2-20 characters
        </p>
      </div>
      <div >
        <input formControlName="postcode" type="text" class="form-control" placeholder="Kod pocztowy">
        <p *ngIf="!registerForm.get('postcode').valid && registerForm.get('postcode').dirty" class="error">
          This field is required and must contain 6 characters
        </p>
      </div>
      <div >
        <input formControlName="town" type="text" class="form-control" placeholder="Miasto">
        <p *ngIf="!registerForm.get('town').valid && registerForm.get('town').dirty" class="error">
          This field is required and must contain 2-20 characters
        </p>
      </div>
      <div >
        <input formControlName="telephone" type="text" class="form-control" placeholder="Telefon">
        <p *ngIf="!registerForm.get('telephone').valid && registerForm.get('telephone').dirty" class="error">
          This field is required and must contain 8-12 characters
        </p>
      </div>
    </div>

    <div class="row top">
      <div class="col-sm-12">
        <button [disabled]="registerForm.invalid" (click)="register()" type="submit" class="btn btn text-white ">Zarejestruj</button>
      </div>
    </div>

  </form>

</div>
