.data-container {
  padding: 15px;
  margin: 15px;
}
.form-group {
  padding-top: 20px;
  width: 30%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 27px;
}

.form-group input {
  margin-bottom: 10px;
  border-radius: 27px;
  height: 50px;

}

.top button {
  background-color: #009688;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  border: none;
  width: 30%;
  height: 50px;
  border-radius: 25px;
}


.error {
  background: black;
  color: white;
  font-size: 11px;
  padding: 4px 8px;
}
