table {
  width: 100%;
}

button {
  &:hover {
    outline:none;
  }
  &:focus {
    outline:none;
  }
  &:active {
    outline:none;
  }
}

.mat-form-field {
  width: 50%;
  margin: 10px 25%;
  text-align: center;
  font-size: 14px;
}
