
<div class="logo">
  <img src="../../../assets/images/avatar.png">
  <p>Witaj w panelu Recepcionisty!</p>
</div>

<ul class="sidenav__list">
  <mat-divider></mat-divider>
  <li >
    <a>
      <i class="fa fa-stethoscope"></i> Aktualne wizyty
    </a>
  </li>
  <mat-divider></mat-divider>
  <li [routerLink]="['add']" [routerLinkActive]="'active'">
    <a>
      <i class="fa fa-plus"></i> Dodaj wizyty
    </a>
  </li>
  <mat-divider></mat-divider>
  <li >
    <a>
      <i class="fa fa-minus"></i> Usuń wizyty
    </a>
  </li>
  <mat-divider></mat-divider>
  <li >
    <a>
      <i class="fa fa-cog"></i> Moje konto
    </a>
  </li>
  <mat-divider></mat-divider>
</ul>

