
<div class="logo">
  <img src="../../../assets/images/avatar.png">
  <p>Witaj w panelu Doktora!</p>
</div>

<ul class="sidenav__list">
  <mat-divider></mat-divider>
  <li >
    <a>
      <i class="fa fa-users"></i> Przeglądaj pacjentów
    </a>
  </li>
  <mat-divider></mat-divider>
  <li >
    <a>
      <i class="fa fa-plus-circle"></i> Przeglądaj wizyty
    </a>
  </li>
  <mat-divider></mat-divider>
  <li >
    <a>
      <i class="fa fa-cog"></i> Moje konto
    </a>
  </li>
  <mat-divider></mat-divider>
</ul>

