.example-full-width {
  width: 75%;
  height: 70px;

}

form {
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 200px;
  max-width: 400px;
  width: 100%;
  margin: 0 auto;
}

h1 {
  text-align: center;
}

button {
  width: 150px;
  height: 40px;
  font-size: 15px;
  display: block;
  margin: 40px auto 0;
  &:hover {
    outline:none;
  }
  &:focus {
    outline:none;
  }
}

h6 {
  text-align: center;
}
