<ul class="navbar-nav ml-auto" *ngIf="!logIn">
  <li class="nav-item">
    <a href="/register" class="nav-link">
      <span class="fa fa-user-plus"></span> Rejstracja
    </a>
  </li>
  <li class="nav-item">
    <a href="/login" class="nav-link">
      <i class="fa fa-sign-in"></i> Zaloguj się
    </a>
  </li>
</ul>

<ul class="navbar-nav ml-auto" *ngIf="logIn">
  <li class="nav-item">
    <a class="nav-link">
      <span class="fa fa-cog"></span> Moje Konto
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link">
      <i class="fa fa-sign-out"></i> Wyloguj Się
    </a>
  </li>
</ul>

