.example-sidenav {
  width: 300px;
  background-color: #f2f2f2;
  position: fixed;
  top: 64px;
  bottom: 0;
}

.example-sidenav-content{
  position: relative;
  top: 64px;
  bottom: 0;
  min-height: 800px;
}
