.example-full-width {
  width: 100%;
  height: 70px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 150px;
  max-width: 350px;
  width: 100%;
  margin-top: 160px;
}

.forms{
  height: 900px;
  display: flex;
  flex-direction: column;
  align-items: center;
}



button {
  margin-top: 40px;
  min-width: 200px;
  max-width: 200px;
  height: 40px;
  font-size: 15px;
}
