.example-container {
  height: 1000px;
}
.example-sidenav {
  width: 300px;
  background-color: #f2f2f2;
}


#id:active, #id:focus
{
  -moz-outline: none;
  outline: none; /* CSS 3 */
  ie-dummy: expression(this.hideFocus=true); /* IE >= 5.5 */
}


