.content {
  position:relative; left: 0;
  float: left;
  width: 100%;
}

/* Structure */
table {
  width: 100%;
}

.mat-form-field {
  width: 50%;
  margin: 0 25%;
  text-align: center;
  font-size: 15px;
}


