
<mat-form-field>
  <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Wyszukaj">
</mat-form-field>

<mat-table [dataSource]="dataSourceRecepcionist" class="mat-elevation-z8">

  <!-- Id Column -->
  <ng-container matColumnDef="id">
    <mat-header-cell *matHeaderCellDef> No. </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.id}} </mat-cell>
  </ng-container>

  <!-- First Name Column -->
  <ng-container matColumnDef="firstName">
    <mat-header-cell *matHeaderCellDef> Imię </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.firstName}} </mat-cell>
  </ng-container>

  <!-- Last Name Column -->
  <ng-container matColumnDef="lastName">
    <mat-header-cell *matHeaderCellDef> Nazwisko </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.lastName}} </mat-cell>
  </ng-container>

  <!-- Email Column -->
  <ng-container matColumnDef="email">
    <mat-header-cell *matHeaderCellDef> Email </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.email}} </mat-cell>
  </ng-container>

  <!-- Edit Column -->
  <ng-container matColumnDef="edit">
    <mat-header-cell *matHeaderCellDef> Edytuj Dane </mat-header-cell>
    <mat-cell *matCellDef="let element" >
      <button (click)="editRecepcionist(element)"  mat-raised-button color="primary" >Edytuj</button>
    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumnsRecepcionist"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumnsRecepcionist;"></mat-row>

</mat-table>

<mat-paginator [pageSizeOptions]="[9, 18, 20, 30]" showFirstLastButtons></mat-paginator>
