$primaryColor: #00838e;
$primaryLightColor: #4fb3be;
$primaryDarkColor: #005661;
$secondaryColor: #757575;
$secondaryLightColor: #819ca9;
$secondaryDarkColor: #29434e;
$primaryTextColor: #ffffff;
$secondaryTextColor: #ffffff;
