.top {
  padding-top: 37%;
  padding-left: 38%;
  height: 90vh;
  color: darken(white, 5%);
  background: url("~src/assets/images/410645-PD3A68-156.jpg") no-repeat;
  background-size: cover;
}

.top button {

  margin: 20px 210px 0;
  background-color: #009688;
}


