.main-container {
  background: url("~src/assets/images/410645-PD3A68-156.jpg") no-repeat ;
  width: 100%;
  height: 100vh;
  color: darken(white, 5%);

  .main-content {
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    align-items: center;
    .header {
      font-size: 88px;
      padding: 15% 0 30px 0;
      font-weight: 300;
      line-height: 10px;
    }
    .paragraph {
      font-size: 25px;
      padding: 20px 0;
    }
     button{
       width: 150px;
       margin: 20px 0;
       &:hover {
         outline:none
       }
       &:focus {
         outline:none;
       }
    }
  }
}

table {
  width: 100%;
}


