<div class="row">
  <div class="col">
    <h3>
      Wizyta pacjenta: {{visit.patient.firstName}} {{visit.patient.lastName}}
    </h3>
    <form  [formGroup]="visitForm">
      <mat-form-field>
       <textarea matInput placeholder="Diagnoza" formControlName="diagnosis" matTextareaAutosize matAutosizeMinRows="4" matAutosizeMaxRows="5" >
       </textarea>
      </mat-form-field>
      <mat-form-field>
       <textarea matInput placeholder="Recepta" formControlName="prescription" matTextareaAutosize matAutosizeMinRows="4" matAutosizeMaxRows="5" >
       </textarea>
      </mat-form-field>
      <mat-form-field>
       <textarea matInput placeholder="Zalecenia" formControlName="recommendations" matTextareaAutosize matAutosizeMinRows="4" matAutosizeMaxRows="5" >
       </textarea>
      </mat-form-field>
    </form>
  </div>
</div>
